<div id="each-comment-<%=comment.id%>" class="each-comment">
    <div id="info">
        <i class="fas fa-user"></i>

        <div id="comment-info">
            <span id="commented-by"><%= comment.user.name%></span>
            <span id="commented-at">On <%= comment.createdAt.toString().substring(0,15)%></span>
        </div>

        <% if(locals.user && locals.user.id == comment.user.id){ %>    
            <a href="/comments/delete/<%= comment.id%>" id="delete-comment">delete</a>
        <% } %>
        

    </div>
    <div id="content">
        <%= comment.content %>
    </div>

    <div id="likes">
        <%if(locals.user){ %>
            <a class="toggle-like-btn" href="/likes/toggle/?id=<%= comment.id%>&type=Comment" data-likes="<%= comment.likes.length %>">
                <i class="fas fa-thumbs-up"></i>
                <span><%= comment.likes.length%> Likes</span>
            </a>
        <%} else { %>
        <span><%= comment.likes.length%> Likes</span>
        <% } %>
    </div>
</div>