
    <link rel="stylesheet" href="<%= assetPath('css/layout.css')%>">

    <h1 id="title">Codial | <%= title %></h1>

    <div id="container">
        
        <section id="posts">
    
            <div id="heading">Posts</div>
            
            <% if(locals.user) { %>
                <form action="/posts/create" method="POST" id="post-form">
                    <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Type Here..."></textarea>
                    <button id="post-btn">
                        Post
                    </button>
                </form>
            <% } %>
        
            <div id="users-posts">
        
                <% for(post of posts) {%>
            
                    <%- include('_posts') -%>
            
                <% } %>

               
            </div>
        
        </section>

        <% if(locals.user) { %>
            
            <div>
                <section id="friends" class="list">

                    <div class="heading">Friends</div>
        
                    <% for(u of all_users) { %>

                        <% if(u._id == locals.user.id) {%> 
                            
                            <% for(friends of u.friends) {%> 
                                <% if(friends.from_user._id != locals.user.id) {%>
                                    <div id="each-user-<%= friends.from_user._id%>">
                                        <a href="/users/profile/<%= friends.from_user._id%>" class="each-user"><%= friends.from_user.name%></a>
                                        <a href="/friendship/remove/?id=<%= friends.from_user._id%>" class="remove-friendship">X</a>
                                    </div>
                                    
                                <% } else {%>  
                                    <div id="each-user-<%= friends.to_user._id%>">
                                        <a href="/users/profile/<%= friends.to_user._id%>" class="each-user"><%= friends.to_user.name%></a>
                                        <a href="/friendship/remove/?id=<%= friends.to_user._id%>" class="remove-friendship">X</a>
                                    </div>
                                <% } %>    
                                
                            <%}%>
                            
                        <%}%>
                    
                        
                    <% } %>
        
                </section>
        
                <section id="users" class="list">
        
                    <div class="heading">Users</div>
        
                    <% for(u of all_users) { %>
                    
                        <a href="/users/profile/<%= u.id%>" class="each-user"><%= u.name%></a>
                    <% } %>
            
                </section>
            </div>

            
        <% } %> 
            
                
        <%- include('_chat_box') -%>   
               
            
        
    </div>

    <script src="https://kit.fontawesome.com/071baab2d8.js" crossorigin="anonymous"></script>
    <script src="<%= assetPath('js/home_posts_comments.js')%>"></script>
    <script src="<%= assetPath('js/home_posts.js')%>"></script>

    <script src="<%= assetPath('js/toggle_likes.js')%>"></script>
    <script src="<%= assetPath('js/toggle_friendship.js')%>"></script>
   
    <script>
        $(' .toggle-like-btn').each(function(){
            let self = this;
            let toggleLike = new ToggleLike(self);
        });
    </script>

    <script>
        $('.remove-friendship').each(function(){
            let self = this;
            let friendship = new Friendship(self);
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="<%= assetPath('js/chat_engine.js') %>"></script>
    
    <% if (locals.user) {%>
        <script>
            new chatEngine('chat-box','<%= locals.user.email%>');
        </script>
    <%}%>