<!-- <html> -->
    <!-- <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/user.css">
    </head> -->

    <!-- <body> -->
        <!-- <h1><%= title %>/Profile</h1> -->
        
        <main id="main-body"> 

            <h1 id="title">Codial | <%= title %> | Profile</h1>

            <div id="info">

                <h3>User Name : <%= user.name %></h3>

                <h3>Email : <%= user.email %></h3>

            </div>

        </main>

    </div>

    <!-- </body> -->
<!-- </html> -->